.btn {
    -fx-background-color: rgba(53, 76, 43, 0.91);
}

.background-center {
    -fx-background-image: url("start.jpeg");
    -fx-background-size: cover;
}

.background-right {
    -fx-background-color: rgba(0, 0, 0, 0.93);
}

.btn:pressed {
    -fx-background-color: #787171;
}

.main-background {
    -fx-background-color: rgba(0, 0, 0, 0.94);
}

.style {
    -fx-background-color: #1e5b3a;
    -fx-background-radius: 20;
}

.toggle-button:selected {
    -fx-background-color: white;
    -fx-text-fill: white;
    -fx-border-color: white;
    -fx-border-width: 2px;
    -fx-border-radius: 15px;
}

.list-cell {
    -fx-background-color: #1e5b3a;
    -fx-padding: 10;
}

.combo-box {
    -fx-padding: 5 10;
    -fx-font-size: 14px;
    -fx-effect: dropshadow(three-pass-box, rgba(46, 125, 50, 0.15), 6, 0, 0, 2);
}

.combo-box .list-cell {
    -fx-padding: 6 10;
    -fx-border-radius: 15;
    -fx-background-color: rgba(0, 0, 0, 0.84);
    -fx-text-fill: #ffffff;
}

.combo-box .list-cell:hover {
    -fx-text-fill: black;
}

.anchor-pane {
    -fx-background-color: rgba(30, 91, 58, 0.92);
    -fx-background-radius: 15px;
}

.transparent .viewport,
.transparent .content {
    -fx-background-color: transparent;
}

.plant-item {
    -fx-background-color: rgb(16, 15, 15);
    -fx-background-radius: 30;
}

.timeLabel {
    -fx-font-size: 60;
    -fx-text-fill: white;
}

.timerButton {
    -fx-background-color: rgba(30, 91, 58, 0.92);
    -fx-text-fill: #000000 !important;
    -fx-background-radius: 30;
}

.gridText{
    -fx-text-fill: #000000;
    -fx-font-size: 18;
    -fx-font-weight: bold;
}

.progress-bar .bar {
    -fx-background-color: linear-gradient(to right, #90ee90, #32cd32);
    -fx-background-radius: 10;
}

.progress-bar .track {
    -fx-background-color: #f0f0f0;
    -fx-background-radius: 10;
}

.progress-bar-label{
    -fx-text-fill: #000000 !important;
}